* {
    margin: 0px;
    padding: 0px;
    font-weight: normal;      
    font-family: 'Open Sans';      /*type of font*/
}

body {
    background-color: #fff;
}

#frame {
    height: 100vh;
	width: 100vw;
}

#header {
    height:7vh;
}

#header > h1 {
    display: block;
    border-bottom: 2px solid #00305e;
	color: rgb(0,48,94);                /*TUD Corporate Design: dark blue*/
    font-size: 4vh;
	font-style: normal;
	text-align: center;
}

#info {                            		/*info-text*/
    float: left;
    width: 38vw;
    height: 93vh;
    margin: 0px 1vw;
	display:flex;
	flex-direction:column;
	font-size: 2vh;
	font-style: italic;
    color: rgb(0,48,94);
}

#info h1 {								/*info-headline*/
    background-color: rgb(0,48,94);
    border-top-left-radius: 3px;
    padding: 5px;
    border-top-right-radius: 3px;
    font-size: 2vh;
	font-style: normal;
    color: white;
}

#info > div {
    background-color: #f2f3f3;
    margin-bottom: 2vh;
	/*
		max-height: default value here is set to fit 3 blocks with 2vh space between: 3*29vh + 3*2vh = 93vh (header space is 7vh => adds up to full height)
		specify special max-height in index.html of specific app:
			fit to content of div: 				style="max-height:fit-content;"
			fill out leftover available height: style="max-height:none; flex:1;"
	*/
	max-height:29vh;
    overflow: auto;
}

#info button, #info select{
    margin: 5px 20px;
    width: calc(100% - 40px);
}

#info button {
	display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: background-color .25s ease-out,color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 1.5rem 2rem;
    background-color: #dd2727;
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    color: #fff;
}

#info > div > div {
    padding: 5px 20px;
}

#content {
    float: right;
    width: 60vw;
    height: 92vh;
}

#info ul {
	padding: 0vh 2vw;
}

#drawfield {
    background-color: #f2f3f3;
}

#info input {
    margin: 5px 20px;
    width: calc(100% - 40px);
    display: inherit;
    border: none;
    padding: 5px;
    cursor: pointer;
}
#info .tab {
	padding: 5px 0px;
	margin: 0px;
	margin-top: 1vh;
	width: 50%;
	display: inline-block;
	border: 1px solid #404040;
    border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #ccc;
	transition: background-color .25s ease-out,color .25s ease-out;
	color: rgb(0,48,94);
}

#info .tab:focus, #info .tab.active {
	outline:0;
	background-color: #f3f3f3;	
	border-bottom: 1px solid #f3f3f3;
}

#info .textOutput {
	font-style: normal;
	font-size: 0.8em;
}

#info .tabContent {
	border: 1px solid #404040;
	border-top: 0px solid #404040;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}