*{
	margin:0px;
	padding:0px;
	font-size: 12px;
	font-weight: normal;
	font-family: arial;
	color: #353535;
}
body{
	background-color:#fff;
	margin:5px;
}

#frame{
	width:600px;
	height:calc(100% - 60px);
	margin:20px auto;
	padding:10px;
}

#frame > h1 {
	display: block;
	margin-bottom: 10px;
	padding: 5px 10px;
	font-size: 20px;
	color: #434343;
	border-bottom: 2px solid #009688;
}

#lower {
  float: right;
}
#upper {
  float: left;
  width: 285px;
  margin-right: 15px;
}
#info h1 {
  background-color: #009688;
  border-top-left-radius: 3px;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  border-top-right-radius: 3px;
}
#info >div {
  background-color: #eeeeee;
  padding: 5px;
  margin-bottom: 10px;
}
#info > div > button, #info > div > select {
  display: inherit;
  background-color: #fff;
  border: none;
  padding: 5px;
  margin: 5px;
  min-width: 150px;
  cursor: pointer;
  font-weight: bold;
}
#drawfield {
    background-color: #ececec;
}
#taskheader{
	overflow:hidden;
}
#taskheader > button{
	border:2px solid #b8cfe5;
	margin:0px;
	padding: 5px 10px;
	float:left;
	margin-bottom:-2px;
	margin-right:-2px;
	background-color:transparent;
	cursor:pointer;
}
#resultWindow {
	border: 2px solid #b8cfe5;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(184, 207, 229);
	border-top: 5px solid #b8cfe5;
	height: calc(100% - 1px);
	position: relative;
	background: #fff;
	overflow-y: scroll;
	max-height: 263px;
	padding: 5px;
}